<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 开启shiro注解支持 -->
	<bean
		class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager"/>
	</bean> 
	<bean id="myRealm" class="com.sa.sys.realm.MyRealm">
		<property name="authenticationCachingEnabled" value="false"/>
        <property name="authorizationCachingEnabled" value="false"/>
	</bean>
	<!-- shiro安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realms" >
			<list>
				 <ref bean="myRealm"/>
			</list>
		</property>
	</bean>
	
	<!-- 认证过滤器 -->
    <bean id="authFilter" class="com.sa.sys.filters.AuthFilter">
        <property name="usernameParam" value="adminName"/>
    	<property name="passwordParam" value="adminPwd"/>
    </bean>

	<!-- Shiro权限过滤配置 -->
	<bean id="shiroFilter"
		class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- Shiro安全管理器 自动注入-->
		<property name="securityManager" ref="securityManager" />
		<!-- 用户默认的登录页面，该页面由shiro授权通过，并且启动认证过程 -->
		<property name="loginUrl" value="/login" />
		 <!-- 登录成功后要跳转的连接 -->
		<property name="successUrl" value="/home" />
		<!-- 用户访问未对其授权的资源时,所显示的连接 -->
		<property name="unauthorizedUrl" value="/unauthorized" />
		<!-- 对登录的表单输入做验证 -->
		<property name="filters">
				<map>
					<entry key="authc" value-ref="authFilter" />
				</map>
		</property>
		<property name="filterChainDefinitions">
			<value>
			/manage/** = anon
			/res/** = anon
           	/** = authc
			</value>
		</property>
	</bean>

		<!-- Shiro生命周期 -->  
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>