@charset "utf-8";
/* CSS Document */

/*universal*/
.clearfix{clear:both}
*{font-family:"微软雅黑"}
a{text-decoration:none}
/*footer*/
.footer_box a{color:#4c4c4c}
.footer_bg{margin-top:30px;background-color: #dadada;}
.footer_box{width: 1200px;margin: 0 auto;}
.footer_box a:hover{ text-decoration: underline;}
.footer_nav{width: 200px; float: left;}
.footer_nav ul{ font-size: 16px; line-height: 57px; color: #4c4c4c}
.footer_nav li{ font-size: 12px; line-height: 12px; margin-bottom: 10px;}
.friendlink{ font-size: 12px; text-align: center; line-height: 12px; margin-top: 57px;}
.copyright{font-size: 12px; text-align: center; line-height: 12px; margin-top: 10px; padding-bottom: 42px }